:root{
    font-size: 24px;
}

html, body{
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}

.hidden{
    display: none;
}

.content-wrapper{
    background-image: url(./library-upscaled.jpg);
    max-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr .8fr;
    grid-template-rows: .5fr 4fr;
}

.remove{
    font-size: 1rem;
    flex-shrink: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 25px;
    width: 100px;
    height: 75px;
    background-color: brown;
    border: none;
}

.header{
    grid-area: 1 / 1 / 2 / 3;
    height: 100%;
    width: 100%;
    background: rgb(34,43,22);
    background: linear-gradient(124deg, rgba(34, 43, 22, 0.7) 0%, rgba(167,70,70,0.7) 35%, rgba(5, 69, 166, 0.712) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    width: 100%;
    background: rgb(34,43,22);
    background: linear-gradient(37deg, rgba(34, 43, 22, 0.7) 0%, rgba(167,70,70,0.7) 35%, rgba(5, 69, 166, 0.712) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    grid-area: 2 / 1 / 3 / 2;
    background: rgba(34, 43, 22, 0.534);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card{
    width: 90%;
    height: 90%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(58, 28, 45, 0.925);
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    position: relative;
}

.author, .title, .pages, .read{
    font-size: 1.3rem;
    padding: .5rem;
}

.author, .title, .pages, .read{
    display: grid;
    width: 95%;
    grid-template-columns: .4fr 1fr;
    justify-self: center;
    align-self: center;
    color: rgb(204, 194, 194);
}

.title>span:first-child, .author>span:first-child, .pages>span:first-child, .read>span:first-child{
    justify-self: right;
    padding-right: .5rem;
    color: rgb(156, 151, 151);
}

.add{
    background-color: transparent;
    font-size: 8rem;
    margin: 3rem;
    border: 10px solid rgb(182, 66, 132);
    border-radius: 50px;
    color: rgb(201, 162, 184);
}
